body {
  font-family: "Lucida Sans Typewriter", monospace;
  color: rgba(95, 21, 57, 0.38);
}

div.main {
  font-family: "Lucida Sans Typewriter", monospace;
  font-size: 2em;
  padding: 5px;
  text-align: center;
}

div.main div {
  padding: 10px;
}

div.topnav {
  display: inline-block;
  padding: 0;
  text-align: center;
  margin-top: 10px;
}

div.topnav div {
  float: left;
  margin: 6px;
}

div.topnav label {
  display: block;
}

span.menucell {
  margin: 1px;
  background: pink;
  width: 5px;
  height: 5px;
}

div.container {
  text-align: center;
}

div.container h1 {
  padding: 15px 0 15px 0;
  margin: 0px;
  width: 100%;
  background-color: rgba(95, 208, 20, 0.44);
}

div.timeline {
  display: inline-block;
}

div.column {
  float: left;
  margin: 3px;
  text-align: center;
}

div.column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
